<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head(title=${title})">
<body>
	<section th:replace="fragments/nav :: navigation"></section>
	
	<section class='section m-0 p-0'>
		<div class='container'>
			<div class='columns'>
				<div class='column is-9 is-offset-1'>
					<div class='hero is-medium'>
						<div class='hero-body pb-6 pt-6'>
							<div class='columns is-vcentered'>
								<div class='column is-6'>
									<h1 class='is-size-1 title mb-6 has-text-weight-bold'>Welcome</h1>
									<p class='subtitle is-size-4'>
										<strong>KaiMono</strong>, a one-step grocery store.
									</p>
								</div>
								<div class='column is-6 is-hidden-mobile'>
									<img alt="banner_shopping" src="/img/banner_shopping.png" />
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section th:replace="fragments/footer :: footer"></section>
</body>
</html>